<html>
  <head>
    <title>Auction</title>
    <link rel="stylesheet" href="static/main.css" type="text/css"/>
  </head>
  
  <body>
    <div id="header">
      <h1>miniEbay</h1>
    </div>
    
    <div id="nav">
      <a href="/"><div id="inactiveNav">Home</div></a>
      <a href="/search"><div id="inactiveNav">Search</div></a>
      <a href="/browse"><div id="inactiveNav">Browse</div></a>
    </div>
    
    <div id="main">
      <h1>Test Auction</h1>
      <p>
        This page is currently under construction.
      </p>
      <p>
        This is the main div
      </p>
    </div>
    
    <div id="footer">
      This is the footer div
    </div>
  </body>
</html>
