<html>
  <head>
    <title>miniEbay : Browse</title>
    <link rel="stylesheet" href="static/main.css" type="text/css"/>
  </head>
  
  <body>
    <div id="header">
      <h1>miniEbay</h1>
    </div>
    
    <div id="nav">
      <a href="/">Home</a><br>
      <a href="/search">Search</a><br>
      <a href="/browse">Browse</a><br>
    </div>
    
    <div id="main">
      <h1>Browse</h1>
      <p>
        This page is currently under construction.
      </p>
      <p>
        This is the main div
      </p>
    </div>
    
    <div id="footer">
      This is the footer div
    </div>
  </body>
</html>
