<html>
  <head>
    <title>Browse : miniEbay</title>
    <link rel="stylesheet" href="static/main.css" type="text/css"/>
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        <h1>miniEbay</h1>
      </div>
      
      <div id="nav">
        <a href="/"><div id="inactiveNav">Home</div></a>
        <a href="/search"><div id="inactiveNav">Search</div></a>
        <a href="/browse"><div id="activeNav">Browse</div></a>
      </div>
    </div>
    
    <div id="content">
      <div id="main">
        <h1>Browse</h1>
      </div>
      
      <div id="footer">
        This is the footer div
      </div>
    </div>
  </body>
</html>
