<html>
  <head>
    <title>Home : miniEbay</title>
    <link rel="stylesheet" href="static/main.css" type="text/css"/>
  </head>
  
  <body>
    <div id="content">
      <div id="header">
        <div id="title">
          <h1>miniEbay</h1>
        </div>
        <div id="nav">
          <a href="/"><div id="activeNav">Home</div></a>
          <a href="/search"><div id="inactiveNav">Search</div></a>
          <a href="/browse"><div id="inactiveNav">Browse</div></a>
        </div>
      </div>
      
      <div id="main">
        <h1>Home</h1>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
        This is the main div<br>
      </div>
      
      <div id="footer">
          This is the footer div
      </div>
    </div>
  </body>
</html>